.gradle
build/
**/build/
.idea/
*.iml
.DS_Store
local.properties
.kotlin/
.vscode/

# Xcode & Apple
*.xcuserstate
xcuserdata/
**/xcuserdata/
DerivedData/
*.hmap
*.xccheckout
*.moved-aside
Config.local.xcconfig
**/Config.local.xcconfig
